.formContainer {
    max-width: 400px;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
  }
  
  .formContainer h2 {
    margin-bottom: 1rem;
  }
  
  .formContainer p {
    margin-bottom: 2rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .formGroup input {
    width: 48%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submitButton {
    padding: 0.75rem;
    background-color: #4e00ec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #3a00b8;
  }
  