/* components/VirtualOfficeSteps.module.css */
.container {
    text-align: center;
    padding: 2rem;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .highlight {
    color: #3e68ff;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 2rem;
  }
  
  .stepsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .step {
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
  }
  
  .stepIcon {
    font-size: 2rem;
    color: #3e68ff;
    margin-bottom: 1rem;
  }
  
  .stepTitle {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
  }
  
  .stepDescription {
    font-size: 0.875rem;
    color: #6c757d;
  }
  .image {
    float: right;
    height: 75px;
  }
  @media (max-width: 768px) {
    .step {
        width: 100%;
    }
  }